.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 전체 페이지 스크롤 제어 */
html, body {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

/* 채팅 페이지에서 메시지 영역만 스크롤 가능하도록 설정 */
#root {
  height: 100%;
  overflow: hidden;
}

/* 스크롤바 숨기기 */
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* Firefox */
* {
  scrollbar-width: none;
}
