name: Deploy Frontend to EC2

on:
  push:
    branches:
      - stage
# on:
#   workflow_dispatch:
#     inputs: 
#       tags:
#         description: 'Set Tags Name'
#         required: true
#         type: string
#         default: master
          
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [ ! -d "19-Respec-FE" ]; then
              git clone https://github.com/100-hours-a-week/19-Respec-FE.git
            fi

            cd 19-Respec-FE
            git checkout stage
            git pull origin stage

            npm install
            npm run build

            echo "🔍 기존 serve 프로세스 종료 시도..."
            PORT_PID=$(lsof -i:3000 -t || true)
            if [ -n "$PORT_PID" ]; then
              echo "🔴 포트 3000 사용 중, 프로세스 종료 (PID: $PORT_PID)"
              kill -9 $PORT_PID
            else
              echo "✅ 종료할 프로세스 없음"
            fi

            echo "🚀 serve 실행 시작 (build)..."
            nohup npx serve -s build -l 3000 > frontend.log 2>&1 &
            echo "✅ serve 백그라운드 실행 완료"
